{% extends 'base.html' %}
{% block header %}
    <h1>Уверены что хотите удалить {{ product.title }}?</h1>
{% endblock %}
{% block title %}
    Confirm delete page
{% endblock %}
{% block content %}
    <div class="info_block">
        <p class="info">Product name: {{ product.title }}</p>
        <p class="info">Description: {{ product.description }}</p>
        <p class="info">Price: {{ product.price }}</p>
        <form action="{% url 'confirm_delete' product.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="delete_button">Удалить</button>
        </form>
        <div class="cancel">
            <a href="{% url 'index' %}" class="cancel_button">Отмена</a>
        </div>
    </div>
{% endblock %}